@font-face {
  font-family: "rainyhearts";
  src: url("./rainyhearts.ttf") format("truetype");
}

@font-face {
  font-family: "Silkscreen";
  src: url("./Silkscreen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Silkscreen-Bold";
  src: url("./Silkscreen-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("./OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

html {
  min-height: 100%;
}

body {
  font-family: "rainyhearts", sans-serif;
  padding: 50px;
  height: 100%;
  margin: 0;
  background: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #ffffff28 0) 0
      0/20px 20px,
    linear-gradient(180deg, #ffebec 34.38%, #b4c8ea 68.75%, #b4c8ea 91.15%);
  background-attachment: scroll;
}

.header {
  margin-bottom: 40px;
}

.header__nav-item {
  position: relative;
  transition: top 0.1s;
  top: 0;
}

.header__nav-item:hover {
  top: -5px;
}

.header__columns {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.spacer {
  width: 28px;
  height: 0;
  display: flex;
}

.header__logo img {
  width: 200px;
}

.header__nav {
  display: flex;
}

.header__nav-link {
  line-height: 33px;
  text-decoration: none;
}

/* .header__nav-link:hover {
  text-decoration: underline;
} */

.header__nav-link p {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #374667;
  margin: 0;
}

.header__nav-item {
  position: relative;
  text-align: center;
}

.header__nav-item img {
  position: relative;
  top: 10%;
  width: 50px;
  height: 50px;
}

.draggable {
  display: inline-block;
}

.draggable:hover {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.hero-container {
  height: 700px;
}

#hero-likes {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 1;
  /* border-radius: 15px;
  box-shadow: 15px 15px 0px #374667; */
}

#hero-about {
  background-image: url("../img/hero-bubble-3.png");
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 18%;
  left: 50%;
  z-index: 3;

  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  font-size: 40px;
  padding: 110px 80px 100px 80px;
  box-sizing: border-box;
  color: #374667;
}

#hero-text-pink {
  color: #f79ca0;
}

#hero-picture {
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 2;
}

#hero-picture img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 15px;
  box-shadow: 15px 15px 0px #374667;
  /* background-color: #374667; */
}

#hihihi {
  position: absolute;
  top: 60%;
  right: 5%;
  z-index: 1;
}

#hero-cloud-1 {
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 3;
}

#hero-cloud-2 {
  position: absolute;
  top: 75%;
  left: 65%;
  z-index: 0;
}

#hero-moon {
  position: absolute;
  top: 85%;
  left: 80%;
  z-index: -1;
}

.projects-container {
  height: 2000px;
  position: relative;
}

.projects-container > div {
  position: absolute;
}

.projects-container #project-img {
  border-radius: 5px;
  box-shadow: 0;
  transition: box-shadow 0.2s;
  /* background-color: #374667; */
}

.projects-container #project-img:hover {
  border-radius: 5px;
  box-shadow: 15px 15px 0px #374667;
}

#project-1 {
  top: 10%;
  left: 10%;
}

#project-1 img {
  width: 700px;
}

#project-2 {
  top: 30%;
  left: 50%;
}

#project-2 img {
  width: 600px;
}

#project-3 {
  top: 50%;
  left: 10%;
}

#project-3 img {
  width: 700px;
}

#project-4 {
  top: 70%;
  left: 50%;
}

#project-4 img {
  width: 600px;
}

#project-heart {
  position: absolute;
  top: 25%;
  left: 70%;
  transition: top ease 0.2s;
}

#project-heart:hover {
  top: 24%;
}

#project-cloud-3 {
  position: absolute;
  top: 50%;
  left: 15%;
}

#project-cloud-4 {
  position: absolute;
  top: 110%;
  left: 5%;
}

.tab-contents {
  border-radius: 0px 0px 10px 10px;
  border: 5px solid #374667;
  border-top: 0;
  background: #e4eeff;
  padding: 30px;
  width: fit-content;
  /* width: 90%;
  min-height: 500px; */
}

#project-niantic {
  /* background-image: url("../img/project-hero-container.png"); */
  /* background-size: 100% 100%; */
}

.project-hero-title-grid {
  display: grid;
  grid-template-areas: "title title mockup mockup";
  position: relative;
  padding: 100px;
  padding-top: 140px;
  padding-bottom: 0;
  border-radius: 15px;
}

.project-hero-title-text {
  grid-area: title;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
}

.project-hero-title-text h1 {
  font-size: 64px;
  margin-bottom: 0;
  font-weight: normal;
}

.project-hero-title-text p {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Hanken Grotesk", sans-serif;
}

.project-hero-mockup {
  grid-area: mockup;
  display: block;
  text-align: center;
  position: relative;
}

.project-hero-mockup .mockup-bounce {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform-origin: bottom;
  left: 25%;
  animation-name: bounce-left;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 1s;
}

.project-hero-mockup #bounce-left {
  animation-name: bounce-left;
}

.project-hero-mockup #bounce-right {
  animation-name: bounce-right;
}

.project-hero-mockup img#pgo {
  padding: 50px 0;
}

@keyframes bounce-left {
  0% {
    opacity: 0;
    transform: translateX(0px) translateY(0px) rotate(-0deg);
  }

  16% {
    opacity: 1;
    transform: translateX(-100px) translateY(20px) rotate(-30.454deg);
  }

  28% {
    transform: translateX(-100px) translateY(20px) rotate(-15.376deg);
  }

  44% {
    transform: translateX(-100px) translateY(20px) rotate(-23.926deg);
  }

  59% {
    transform: translateX(-100px) translateY(20px) rotate(-18.672deg);
  }

  73% {
    transform: translateX(-100px) translateY(20px) rotate(-20.516deg);
  }

  88% {
    transform: translateX(-100px) translateY(20px) rotate(-19.96deg);
  }

  100% {
    transform: translateX(-100px) translateY(20px) rotate(-20deg);
  }
}

@keyframes bounce-right {
  0% {
    opacity: 0;
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }

  16% {
    opacity: 1;
    transform: translateX(100px) translateY(20px) rotate(30.454deg);
  }

  28% {
    transform: translateX(100px) translateY(20px) rotate(15.376deg);
  }

  44% {
    transform: translateX(100px) translateY(20px) rotate(23.926deg);
  }

  59% {
    transform: translateX(100px) translateY(20px) rotate(18.672deg);
  }

  73% {
    transform: translateX(100px) translateY(20px) rotate(20.516deg);
  }

  88% {
    transform: translateX(100px) translateY(20px) rotate(19.96deg);
  }

  100% {
    transform: translateX(100px) translateY(20px) rotate(20deg);
  }
}

.project-hero-tags-grid {
  display: grid;
  grid-template-areas: "tags tags tags tags";
  position: relative;
  padding: 30px 100px 50px 100px;
  margin: 0 50px;
  border-radius: 15px;
}

.project-hero-tag {
  text-align: center;
}

.project-hero-tag-title {
  font-family: "Silkscreen", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.project-hero-tag-subtitle {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Hanken Grotesk", sans-serif;
}

.project-content-grid {
  display: grid;
  grid-template-areas: "title text";
  grid-template-columns: 1fr 2fr;
  position: relative;
  /* padding: 100px 50px;
  margin: 0 50px;
  border-radius: 15px; */
}

.project-content-title {
  grid-area: title;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  width: 50%;
}

.project-content-text {
  /* font-family: "Open Sans", sans-serif; */
  grid-area: text;
  /* width: 50%; */
}

#window-buttons {
  float: right;
  top: 5px;
  position: relative;
  right: 15px;
  width: 100px;
  cursor: pointer;
}

#window-background {
  left: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: -1;
}

#project-bg {
  padding-top: 80px;
  position: absolute;
  width: 95%;
  height: 680px;
  z-index: -2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
}

.project-window-title {
  font-size: 28px;
  float: left;
  top: 12px;
  position: relative;
  left: 15px;
}

.project-hero-container {
  position: relative;
  border: #374667 2px solid;
  border-radius: 10px;
  overflow: hidden;
  height: 800px;

  /* TODO: expiriment with this */
  /* position: sticky;
  top: 50px; */
}

.project-hero-container:after {
  position: absolute;
  left: 0;
  top: 50px;
  height: 2px;
  background: #374667;
  content: "";
  width: 100%;
  display: block;
}

.project-hero-container #divider {
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.centered-img {
  text-align: center;
}

.centered-img #question {
  width: 100%;
}

.about-tab-container {
  text-align: center;
  padding: 0 10%;
  /* width: 50%; */
}

.about-photos-container {
  margin-top: 50px;
  padding: 100px 10%;
  position: relative;
}

.about-photos-container img {
  width: 100%;
  object-fit: cover;
}

#about-tab-instagram {
}
#about-tab-media {
  display: none;
}
#about-tab-games {
  display: none;
}

#listening-to {
  position: absolute;
  width: 30%;
  top: -30%;
  right: 0;
}

.photo-carousel {
  width: 75%;
  height: 55%;
  white-space: nowrap;
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-mask: linear-gradient(90deg, #000 85%, #0000);
}

.photo-carousel img {
  float: none;
  height: 90%;
  margin: 0 0.25%;
  display: inline-block;
  height: 100%;
  width: auto;
}

/* @media (max-width: 768px) {
  .about-tab-container {
    padding-left: 0;
    padding-right: 0;
  }

  .about-photos-container {
    padding: 0;
  }
} */

@media (max-width: 1024px) {
  .about-tab-container {
    padding-left: 0;
    padding-right: 0;
  }

  .about-photos-container {
    padding: 0;
  }

  .photo-carousel {
    width: 90%;
    height: 75%;
    bottom: 5%;
  }
}

#about-cloud-1 {
  position: absolute;
  left: 5%;
  top: 110%;
  width: 20%;
  z-index: 1;
}

#about-cloud-2 {
  position: absolute;
  bottom: -30%;
  width: 20%;
  right: 5%;
}

.content-wrapper {
  max-width: 1100px;
  margin: auto;
}

.header-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.content-wrapper#project {
  top: 15%;
  max-width: unset;
  font-size: 18px;
  /* background-color: white; */
  margin-top: 100px;
  padding-bottom: 100px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.portfolio-section {
  /* padding: 40px 100px; */
  padding: 40px 180px;
  /* color: black; */
  color: #1a1b1f;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 300;
  /* font-weight: lighter; */
}

.portfolio-section-horizontal {
  display: flex;
  /* margin: 100px 0px; */
  padding-bottom: 100px;
}

.portfolio-section-horizontal > .portfolio-section-horizontal-title {
  flex: 40%;
  max-width: 40%;
  font-size: 40px;
}

.portfolio-section-horizontal > .portfolio-section-horizontal-description {
  flex: 60%;
  max-width: 60%;
  display: flex;
  align-items: center;
}

.portfolio-section:first-of-type {
  padding-top: 80px;
}

.portfolio-section h1 {
  font-family: "Silkscreen", sans-serif;
  font-weight: lighter;
  font-size: 48px;
  color: black;
  /* text-transform: uppercase; */
  line-height: 1em;
}

.portfolio-section h2 {
  font-family: "Silkscreen", sans-serif;
  font-weight: normal;
  font-size: 28px;
  color: black;
  margin-top: 50px;
  /* text-transform: uppercase; */
  line-height: 1em;
}

.portfolio-section h3 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  margin-top: 50px;
  line-height: 1em;
}

.portfolio-description img {
  width: 100%;
}

.img-caption {
  text-align: center;
  color: #aaa;
  margin-bottom: 50px;
}

.mobile-grid {
  display: grid;
  /* grid-template-columns: 33% 33% 33%; */
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: end;
  text-align: center;

  border: 1px solid #374667;
  padding: 50px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 20px;
  /* align-items: center; */
  /* display: flex; */
  /* width: fit-content; */
  /* display: inline-block; */
}

.mobile-grid.row-2 {
  grid-template-columns: repeat(2, 1fr);
}

.mobile-grid#woosh {
  grid-template-columns: 30% 70%;
}

.mobile-grid#onair .mobile-video {
  margin: 20px 0;
}

.mobile-grid#ikea video {
  clip-path: inset(1px 1px);
  background-color: white;
  /* border-radius: 20px; */
  width: auto;
}

.mobile-grid .mobile-description {
  /* margin: auto 0 auto 0; */
  margin: 20px 0;
  /* width: 90%; */
  padding: 0 20px;
}

.mobile-grid .mobile-video {
  text-align: right;
  overflow: hidden;
  /* border: 1px solid #374667;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  align-items: center;
  display: flex;
  width: fit-content; */
  display: inline-block;
}

.mobile-grid .mobile-video video {
  width: 100%;
}

.mobile-grid#woosh video {
  width: 130%;
  position: relative;
  left: -50px;
  z-index: -1;
}

.mobile-grid .mobile-title {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1em;
}

#spotlight-onair {
  background-color: #0a285a;
  padding: 50px;
}

.portfolio-spotlight {
  color: #fff;
}

.spotlight-title {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}

.spotlight-subtitle {
  text-align: center;
  margin: 10px;
}

.spotlight-grid {
  margin-top: 50px;
  display: flex;
}

.spotlight-grid > div {
  flex: 33%;
  max-width: 33%;
  text-align: center;
  display: inline-block;
}

.spotlight-grid > div > div {
  /* text-align: left; */
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 64em) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }

  .gallery-column#larger {
    flex: 100%;
    max-width: 100%;
  }

  .gallery-column#smaller {
    flex: 100%;
    max-width: 100%;
  }

  .portfolio-grid-new {
    grid-template-areas:
      "mockup"
      "title";
  }

  .portfolio-mockup img {
    width: 100%;
    margin-bottom: 50px;
    height: auto;
  }

  .project-grid-new#basic {
    grid-template-columns: 100%;
    grid-auto-rows: 500px;
    grid-gap: 20px;
  }

  .project-grid-new#ux {
    grid-template-areas:
      "shirt"
      "grocery"
      "woosh";
    margin: 20px;
    grid-gap: 20px;
  }

  .project-grid-card {
    /* display: grid; */
    grid-template-columns: 30% 70%;
    /* position: relative; */
    grid-gap: 20px;
    grid-template-rows: 200px;
    /* transition: all 0.2s ease-in-out; */
    padding: 20px !important;
  }

  .project-grid-label {
    padding-right: 10px;
  }

  .project-grid-label-title {
    font-size: 32px;
  }

  .project-grid-label-subtitle {
    font-size: 16px;
  }

  .portfolio-section {
    padding: 40px;
  }

  .portfolio-description .color-grid {
    grid-template-areas:
      "c1"
      "t1"
      "c2"
      "t2"
      "c3"
      "t3"
      "c4"
      "t4"
      "c5"
      "t5"
      "c6"
      "t6";
    /* position: relative;
    grid-gap: 30px; */
  }

  .color-grid .color-grid-item {
    width: 300px;
    height: 150px;
  }

  .mobile-grid {
    /* grid-template-columns: 100%; */
  }

  .mobile-grid#woosh {
    grid-template-columns: 100%;
  }

  .mobile-grid .mobile-description {
    padding-top: 50px;
  }

  .header-wrapper {
    margin-top: 40px;
  }

  .back-to-top {
    visibility: hidden;
  }
}
